@import url('https://fonts.googleapis.com/css?family=Karla:400,700&display=swap');


body {
    font-family: 'Karla', sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.7;
}

.logo {
    font-size: 4.8rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #5EEB5B;
    letter-spacing: 1.6rem;

    @include respond(phone) { 
        font-size: 5rem;
    }
    
}

.text-center {
    text-align: center;
}
.heading-primary{
    font-size: 6.4rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 7.5rem;
    margin-bottom: 6rem;

    &--main {
        display: block;
    }

    &--sub {
        display: block;
    }

    @include respond(phone) {
        font-size: 5rem;
    }
}

.para-white {
    color: white;
    font-size: 2.4rem;
    font-weight: normal;
    text-transform: capitalize;
    line-height: 2.8rem;
    
}

.heading-tertiary {
    font-size: 2.3rem;
    font-weight: 400;
    text-transform: capitalize;
    // text-decoration: underline;
    line-height: 3rem;

    @include respond(phone) {
        font-size: 2.8rem;
        line-height: 3rem;
        margin-top: 20rem;
        margin-bottom: 10rem;
    }
}

.para-black {
    font-size: 2.4rem;
    font-weight: normal;
    text-transform: capitalize;
    line-height: 2.8rem;
    
}

