/*
0 - 600px: Phone
600 - 900px: Tablet Portrait
900 - 1200px: Tablet Landscape
[1200 - 1800px] Big desktop
1800px + : 4k
*/
/*
- phone
- tab-port
- tab-land
- big-desktop
- 4k
*/
@import url("https://fonts.googleapis.com/css?family=Karla:400,700&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media (min-width: 160em) {
    html {
      font-size: 87.5%; } }
  @media (max-width: 112.5em) {
    html {
      font-size: 75%; } }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (max-width: 37.5em) {
    html {
      font-size: 43%; } }

body {
  box-sizing: border-box; }

.header {
  padding: 15rem; }
  @media (max-width: 37.5em) {
    .header {
      padding: 3rem; } }
  .header__container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap; }
  .header__logo-box {
    position: absolute;
    top: 5rem;
    left: 10rem; }
    @media (max-width: 37.5em) {
      .header__logo-box {
        top: 2rem;
        left: 2rem; } }
  .header__text-box {
    flex: 0 0 40%; }
    @media (max-width: 37.5em) {
      .header__text-box {
        flex: 1 0 100%; } }
  .header__form-box {
    flex: 1 0 80%; }

form {
  padding: 6rem;
  width: 50rem;
  background-color: #fff;
  border-radius: .3rem;
  box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07); }
  @media (max-width: 37.5em) {
    form {
      height: 70vh;
      padding: 4rem;
      width: 50rem; } }

.form-title {
  margin-top: 0;
  margin-bottom: 3.236rem;
  text-align: center;
  font-size: 2.5rem;
  text-transform: uppercase; }

.form-group {
  padding: 0;
  border: 0; }
  .form-group + .form-group {
    margin-top: 1rem; }

label {
  display: inline-block;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 2.2rem;
  text-transform: uppercase;
  touch-action: manipulation; }

input,
textarea,
select,
option {
  display: block;
  padding: 1rem;
  width: 100%;
  font-size: 1.8rem;
  line-height: 1.25;
  color: #55595c;
  background-color: #fff;
  background-image: none;
  background-clip: padding-box;
  border-top: 0;
  border-right: 0;
  border-bottom: 1px solid #eee;
  border-left: 0;
  border-radius: 3px;
  transition: all 0.25s cubic-bezier(0.4, 0, 1, 1); }
  input:focus,
  textarea:focus,
  select:focus,
  option:focus {
    outline: 0;
    border-bottom-color: #ffab00; }

textarea {
  resize: vertical; }

.btn {
  display: inline-block;
  padding: .75rem 1rem;
  margin-top: 3rem;
  font-size: 3rem;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  vertical-align: middle;
  white-space: nowrap;
  background-color: #ffab00;
  border: 1px solid transparent;
  box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
  cursor: pointer;
  user-select: none;
  transition: all 0.25s cubic-bezier(0.4, 0, 1, 1); }
  .btn:focus, .btn:hover {
    background-color: #ffc142;
    box-shadow: 0 18px 35px rgba(50, 50, 93, 0.1), 0 8px 15px rgba(0, 0, 0, 0.07); }
  .btn:focus {
    outline: 0; }

.btn--green {
  display: inline-block;
  text-decoration: none;
  padding: .75rem 1rem;
  margin-top: 1.618rem;
  font-size: 3rem;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  vertical-align: middle;
  white-space: nowrap;
  background-color: #5EEB5B;
  border: 1px solid transparent;
  box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
  cursor: pointer;
  user-select: none;
  transition: all 0.25s cubic-bezier(0.4, 0, 1, 1); }
  .btn--green:focus, .btn--green:hover {
    background-color: #ffc142;
    box-shadow: 0 18px 35px rgba(50, 50, 93, 0.1), 0 8px 15px rgba(0, 0, 0, 0.07); }
  .btn--green:focus {
    outline: 0; }

.footer {
  height: 6vh;
  background-color: #5EEB5B;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .footer__text {
    color: #000000;
    font-size: 2.4rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 2.8rem; }

body {
  font-family: 'Karla', sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.7; }

.logo {
  font-size: 4.8rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #5EEB5B;
  letter-spacing: 1.6rem; }
  @media (max-width: 37.5em) {
    .logo {
      font-size: 5rem; } }

.text-center {
  text-align: center; }

.heading-primary {
  font-size: 6.4rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 7.5rem;
  margin-bottom: 6rem; }
  .heading-primary--main {
    display: block; }
  .heading-primary--sub {
    display: block; }
  @media (max-width: 37.5em) {
    .heading-primary {
      font-size: 5rem; } }

.para-white {
  color: white;
  font-size: 2.4rem;
  font-weight: normal;
  text-transform: capitalize;
  line-height: 2.8rem; }

.heading-tertiary {
  font-size: 2.5rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 3rem; }
  @media (max-width: 37.5em) {
    .heading-tertiary {
      font-size: 2.8rem;
      line-height: 3rem;
      margin-top: 20rem;
      margin-bottom: 10rem; } }

.heading-group {
  font-size: 2.5rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 3rem; }
  @media (max-width: 37.5em) {
    .heading-group {
      font-size: 2.8rem;
      line-height: 3rem;
      margin-top: 10rem; } }

.para-black {
  font-size: 2.4rem;
  font-weight: normal;
  text-transform: capitalize;
  line-height: 2.8rem; }
